* {
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  margin: 0;
}

h1, h2, h3, h4, h6, p {
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: revert;
}

input { outline: none; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section {
  max-width: 1440px;
  width: 100%;
  padding: 0 80px;
  margin: 0 auto;
  overflow: hidden;
}

.layout {
  padding-top: 113px;
  min-height: 300px;
}

.horizontal {
  display: flex;
  align-items: center;
}

@media (max-width: 1120px) {
  .layout {
    padding-top: 90px;
  }
}

@media (max-width: 770px) {
  section{
    padding: 0 18px;
  }
}